:root {
  --primary-color: #42992f;
}

.container {
  max-width: 1512px;
  margin: 0 auto;
}

body {
  font-family: "DM Sans", sans-serif;
}

header {
  background-image: linear-gradient(
      rgba(205, 168, 130, 0.5),
      rgba(205, 168, 130, 0.5)
    ),
    url("/src/img/Vuurtoren Breskens.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: white;
  padding: 200px 0;
}

header h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 96px;
  font-weight: 700;
  line-height: 144px;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 5px;
  margin: 0;
}

header h2 {
  font-weight: 200;
  font-size: 40px;
  line-height: 60px;
  margin: 0;
}

header a,
header a:visited {
  display: inline-block;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 3px;
  text-align: center;
  background-color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin-top: 32px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  background-image: linear-gradient(
      rgba(71, 42, 13, 0.7),
      rgba(71, 42, 13, 0.7)
    ),
    url("/src/img/strand.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 100px;
}

footer h2 {
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p,
footer a,
footer a:visited {
  color: white;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  opacity: 70%;
}

footer .container-footer {
  padding: 80px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 24px;
}

@media (max-width: 900px) {
  header {
    padding: 80px 0;
  }

  header h1 {
    font-size: 42px;
    line-height: 60px;
  }

  header h2 {
    font-size: 20px;
    line-height: 40px;
  }

  header h3 {
    font-size: 15px;
    line-height: 20px;
  }
}
