:root {
  --primary-color: #42992f;
}

.container {
  max-width: 1512px;
  margin: 0 auto;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #f8f8f8;
}

header {
  background-image: linear-gradient(
      rgba(205, 168, 130, 0.5),
      rgba(205, 168, 130, 0.5)
    ),
    url("/src/img/Vuurtoren Breskens.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: white;
  padding: 200px 0;
}

header h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 96px;
  font-weight: 700;
  line-height: 144px;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 5px;
  margin: 0;
}

header h2 {
  font-weight: 200;
  font-size: 40px;
  line-height: 60px;
  margin: 0;
}

header a,
header a:visited,
.card-body a,
.card-body:visited {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 3px;
  text-align: center;
  padding: 16px 32px;
  text-decoration: none;
  margin-top: 32px;
}

header a,
header a:visited {
  display: inline-block;
  color: var(--primary-color);
  background-color: white;
}

.card-body a,
.card-body:visited {
  display: block;
  margin: 0;
  color: white;
  background-color: var(--primary-color);
  opacity: 0.8;
}

section {
  margin: 0 auto;
  padding: 100px 150px;
}

section h2 {
  color: var(--primary-color);
  font-size: 40px;
  margin: 0 0 30px;
}
section h3 {
  opacity: 0.3;
  margin: 0;
}

footer {
  background-image: linear-gradient(
      rgba(71, 42, 13, 0.7),
      rgba(71, 42, 13, 0.7)
    ),
    url("/src/img/strand.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 150px;
}

footer h2 {
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p,
footer a,
footer a:visited {
  color: white;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  opacity: 70%;
}

h4,
h5 {
  color: var(--primary-color);
  margin: 20px 0 10px;
}

.background-white {
  background-color: white;
}

.gallery {
  max-width: 100%;
  border-radius: 10px;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-start {
  text-align: start;
}

.grid {
  display: grid;
  gap: 64px;
  align-items: center;
}

.grid-section-1 {
  grid-template-columns: 1fr 1fr;
}

.grid-footer {
  grid-template-columns: 1fr 2fr 2fr;
  align-items: start;
}

.grid-3-columns {
  grid-template-columns: repeat(3, 1fr);
}

.small-gap {
  gap: 32px;
}

.card {
  background-color: white;
  align-self: start;
}

.card-body {
  padding: 0 30px 30px;
}

.card-body p {
  font-size: 14px;
  margin: 0 0 15px;
}

.maps {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.img-responsive {
  max-width: 100%;
}

@media (max-width: 900px) {
  header {
    padding: 80px 0;
  }

  header h1 {
    font-size: 42px;
    line-height: 60px;
  }

  header h2 {
    font-size: 20px;
    line-height: 40px;
  }

  header h3 {
    font-size: 15px;
    line-height: 20px;
  }

  section h2 {
    font-size: 24px;
  }

  section h3 {
    font-size: 0.9em;
  }

  section p,
  footer p,
  footer a,
  footer a:visited {
    font-size: 14px;
  }

  section,
  footer {
    padding: 50px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .maps {
    aspect-ratio: 16 / 9;
  }

  .grid-gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  header h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .grid-gallery {
    grid-template-columns: 1fr;
  }
}
